<div class="mac-bind">
	<div id="macbind_icon" class="macbind-icon">
			<div id="macbind_help_icon" class="macbind-help-icon"></div>
		</div>				
		<div id="macbind_help_panel" class="macbind-help-panel">
			<div class="macbind-help-arrow"></div>
			
			<div class="macbind-help-title"><%:macbind-help%></div>
			<div class="macbind-help-content">
				<p class="macbind-help-text">
					<img src="/newifi/icons/lamp.png" style="width:19px;height:19px;margin-right: 8px;margin-top: -5px;"/><label><%:macbind-help-text-one%></label>
				</p>


				<p class="macbind-help-text">
					<span style="color: #FB8200;"><%:macbind-help-text-2%></span>
					<span class="mac-bind-desc"><%:macbind-help-text-2-2%></span>
				</p>

				<hr style="margin-top: 12.5px;margin-bottom: 12.5px;border: 0;border-top: 1px solid #eeeeee;" />

				<p class="macbind-help-text">
					<span style="color: #FB8200;"><%:macbind-help-text-3%></span>
					<span class="mac-bind-desc"><%:macbind-help-text-3-2%></span>
				</p>

				<hr style="margin-top: 12.5px;margin-bottom: 12.5px;border: 0;border-top: 1px solid #eeeeee;" />

				<p class="macbind-help-text">
					<span style="color: #FB8200;"><%:macbind-help-text-4%></span>
					<span class="mac-bind-desc"><%:macbind-help-text-4-2%></span>
				</p>
				<hr style="margin-top: 12.5px;margin-bottom: 12.5px;border: 0;border-top: 1px solid #eeeeee;" />
				
				<p class="macbind-help-text">
					<span style="color: #FB8200;"><%:macbind-help-text-5%></span>
					<span class="mac-bind-desc"><%:macbind-help-text-5-2%></span>
				</p>
				<hr style="margin-top: 12.5px;margin-bottom: 12.5px;border: 0;border-top: 1px solid #eeeeee;" />
				<p class="macbind-help-text">
					<span style="color: #FB8200;"><%:macbind-help-text-6%></span>
					<span class="mac-bind-desc"><%:macbind-help-text-6-2%></span>
				</p>

			</div>
		</div>


	<div class="panel-heading duSeHead">
		<h3 class="panel-title macbind-title"><%:macbind-title%></h3>
		<div class="port-title-right" id="port_addNewEntery" onselectstart="return false;" style="-moz-user-select:none;">
			<div class="port-add-icon" style="background: url(&quot;/newifi/icons/portdmz-add.png&quot;) -24px 0px no-repeat;"></div>
			<span class="port-add-text">添加新条目</span>
		</div>
		<div class="clearfix"></div>

	</div>


	<div id="mac_on" class="mac-on">
		<div class="mac-tabs">
			<ul class="list-inline ul-tabs ul-mac">
				<li id="a" class="active"><a href="#online" class="tabs-mac tabs-mac-online"><%:macbind-tab-online%></a></li>
				<li id="b"><a href="#offline" class="tabs-mac tabs-mac-offline"><%:macbind-tab-offline%></a></li>
				<li id="c"><a href="#blacklist" class="tabs-mac tabs-mac-blacklist"><%:macbind-tab-blacklist%></a></li>
				<li style="float: right;"><div id="mac_add" class="newifi-btn add-btn" style="width: 100px;height: 30px;margin-top: 21px;display:none;"><%:macbind-add%></div></li>
			</ul>

		</div>

		
	</div>
</div>