<div class="login-footer">
	<!-- <div class="login-ul jdwl-out">
		<a class="loginf-hover" target="_blank" href="http://smartcloud.jd.com/app">
			<img class="jdwl-ewm" src="/newifi/icons/home_jdwx.png">
			<span><%:jd-title%></span>
		</a>
		<label class="loginf-nhover"><%:jd-tips%></label>
	</div> -->
	<div class="footer-top">
		<span><%:system-version%>:</span><span class="system-version"></span><span class="footer-margin"><%:mac-address%>:</span><span class="mac-address"></span>
	</div>
	<ul class="login-ul">
		<li>
			<label class="loginf-nhover">&copy;<%:footer-text1%></label>
		</li>
		<li>
			<span class="footer-xian">|</span>
			<a class="loginf-hover" target="_blank" href="http://www.newifi.com/"><%:footer-text2%></a>
		</li>
		<li>
			<span class="footer-xian">|</span>
			<a class="loginf-hover" target="_blank" href="http://weibo.com/xyxcloud?topnav=1&wvr=58&topsug=1"><%:footer-text3%></a>
		</li>
		<li>
			<span class="footer-xian">|</span>
			<a id="weiMenu" class="loginf-hover">
				<img src="/newifi/icons/home_wx.png" alt="" class="footer-weixin-img">
				<span><%:footer-text4%></span>
			</a>
		</li>
		<li>
			<span class="footer-xian">|</span>
			<a class="loginf-hover" target="_blank" href="http://bbs.newifi.com/"><%:footer-text5%></a>
		</li>
		<li>
			<span class="footer-xian">|</span>
			<label class="loginf-nhover"><%:footer-text6%> service2@xcloud.cc</label>
		</li>
	</ul>
</div>
<!-- <div class="login-pop"></div>
<div class="weixin"  name="n">
	<div class="weixin-title">
		<img src="/newifi/icons/Settings_supervise_03_02.png" class="weixin-close">
		<div class="weixin-attention"><%:footer-poptitle%></div>
	</div>
	<div class="weixin-middle"></div>
	<div>
		<img src="/newifi/icons/home_wx.png" class="weixin-png">
	</div>
</div> -->
